.centered-text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
}
.custom-image{
  width: 50%; /* Replace with your desired width */
  height: 50%; /* Replace with your desired height */
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;

}
